.titulo-principal {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0;
    font-size: 40px;
}

.subtitulo {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}